In [1]:
import pandas as pd

In [2]:
num=pd.read_csv("c:\\xbrl\\2009q2\\num.txt", sep='\t', header=0)
sub=pd.read_csv("c:\\xbrl\\2009q2\\sub.txt", sep='\t', header=0)
pre=pd.read_csv("c:\\xbrl\\2009q2\\pre.txt", sep='\t', header=0)
tag=pd.read_csv("c:\\xbrl\\2009q2\\tag.txt", sep='\t', header=0)

In [40]:
pre[pre.duplicated(['tag','version','adsh'])-pre.duplicated(['tag','version','adsh','stmt'])]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:183: UserWarning: evaluating in Python space because the '-' operator is not supported by numexpr for the bool dtype, use '^' instead
  unsupported[op_str]))

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
211,0000950123-09-008550,7,8,CF,0,X,AmortizationOfIntangibleAssets,us-gaap/2008,Amortization,0
215,0001031296-09-000011,4,6,CF,0,X,AmortizationOfRegulatoryAsset,us-gaap/2008,Amortization of regulatory assets,0
217,0000950134-09-009913,5,7,CF,0,X,AssetImpairmentCharges,us-gaap/2008,Impairment,0
222,0000831259-09-000047,2,32,IS,0,X,AssetImpairmentChargesAbstract,us-gaap/2008,Asset Impairment Charges [Abstract],0
340,0000092380-09-000018,1,3,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value",0
343,0000038074-09-000029,5,31,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and cash equivalents, beginning of year",0
347,0000831259-09-000047,1,10,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
349,0000796343-09-000026,5,43,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
351,0000277948-09-000066,3,30,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
354,0000891618-09-000166,6,35,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
360,0000950123-09-008550,5,5,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
362,0000891618-09-000150,4,36,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
364,0000950134-09-009913,2,5,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
367,0001002638-09-000023,1,3,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
370,0001104659-09-025790,1,4,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
374,0001031296-09-000011,4,47,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents at beginning of period,0
377,0001104659-09-031513,4,39,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents at beginning of period,0
379,0001104659-09-029605,1,4,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
384,0001193125-09-096522,2,4,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
385,0001193125-09-091929,3,34,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
388,0001193125-09-101639,3,44,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
391,0001193125-09-101273,3,48,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
393,0001193125-09-100014,5,33,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
398,0001193125-09-102866,2,5,BS,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,Cash and cash equivalents,0
400,0001193125-09-109617,3,46,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
402,0001193125-09-111401,3,30,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
405,0001193125-09-124260,3,29,CF,0,X,CashAndCashEquivalentsAtCarryingValue,us-gaap/2008,"Cash and Cash Equivalents, at Carrying Value, ...",0
694,0000950123-09-008550,7,7,CF,0,X,Depreciation,us-gaap/2008,Depreciation,0
702,0001193125-09-101639,2,7,IS,0,X,DepreciationAndAmortization,us-gaap/2008,Depreciation and amortization,0
708,0000092380-09-000018,2,15,IS,0,X,DepreciationAndAmortization,us-gaap/2008,Depreciation and Amortization,0
...,...,...,...,...,...,...,...,...,...,...
2652,0001193125-09-101273,2,1,BS,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2653,0001193125-09-101639,2,1,IS,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2654,0001193125-09-101639,3,1,CF,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2655,0001193125-09-101273,3,1,CF,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2656,0001193125-09-100014,5,1,CF,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2657,0001193125-09-100014,2,1,IS,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2658,0001193125-09-100014,3,1,CI,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2659,0001193125-09-100014,4,1,EQ,0,X,StatementTable,us-gaap/2008,Statement [Table],0
2676,0000038074-09-000029,1,40,BS,0,X,StockholdersEquity,us-gaap/2008,Total stockholders' equity,0
2682,0000950134-09-009913,6,13,EQ,0,X,StockholdersEquity,us-gaap/2008,"Stockholders' Equity, Ending Balance",0
2881,0000831259-09-000047,1,72,BS,0,X,StockholdersEquityIncludingPortionAttributable...,0000831259-09-000047,"Stockholders' Equity, Including Portion Attrib...",0
2925,0001031296-09-000011,2,17,IS,0,X,DeferralOfRegulatoryAsset,0001031296-09-000011,Deferral of new regulatory assets,0
2928,0001031296-09-000011,3,11,CI,0,X,NetIncomeLossAttributableToNoncontrollingInterest,0001031296-09-000011,COMPREHENSIVE INCOME ATTRIBUTABLE TO NONCONTRO...,0
2947,0001104659-09-029605,3,12,EQ,0,X,StockholdersEquityIncludingPortionAttributable...,0001104659-09-029605,Balance at beginning of period,0
2962,0001193125-09-091929,4,16,EQ,0,X,ProfitLoss,0001193125-09-091929,Net Income,0
2966,0001193125-09-091929,4,15,EQ,0,X,StockholdersEquityIncludingPortionAttributable...,0001193125-09-091929,Beginning Balance,0
3008,0001193125-09-100014,3,3,CI,0,X,ProfitLoss,0001193125-09-100014,Net loss,0
3009,0001193125-09-100014,2,22,IS,0,X,ProfitLoss,0001193125-09-100014,Net loss,0
3010,0001193125-09-100014,5,4,CF,0,X,ProfitLoss,0001193125-09-100014,Net loss,0
3012,0001193125-09-100014,2,16,IS,0,X,RealizedAndUnrealizedGainsLossesDueToChangesIn...,0001193125-09-100014,Realized and unrealized gains (losses) due to ...,0
3017,0001193125-09-100014,1,55,BS,0,X,StockholdersEquityIncludingPortionAttributable...,0001193125-09-100014,Total equity,0
3029,0001193125-09-101639,3,4,CF,0,X,ProfitLoss,0001193125-09-101639,Net earnings,0
3046,0001193125-09-109617,2,30,IS,0,X,IncomeLossFromContinuingOperationsIncludingPor...,0001193125-09-109617,Income from continuing operations,0
3052,0001193125-09-109617,3,4,CF,0,X,ProfitLoss,0001193125-09-109617,Net income,0
3072,0000891618-09-000150,2,26,IS,0,X,IncomeLossFromOperationsBeforeMinorityInterest...,0000891618-09-000150,Net income,0
3084,0000891618-09-000166,2,19,IS,0,X,NetIncome,0000891618-09-000166,Net Income,0
3100,0000950134-09-009913,5,4,CF,0,X,IncomeLossFromContinuingOperationsBeforeMinori...,0000950134-09-009913,Net loss,0
3101,0000950134-09-009913,4,30,IS,0,X,IncomeLossFromContinuingOperationsBeforeMinori...,0000950134-09-009913,Net loss,0
3139,0001104659-09-029605,3,15,EQ,0,X,NetIncomeLossIncludingPortionAttributableToNon...,0001104659-09-029605,Net income,0
3162,0001104659-09-031513,1,10,IS,0,X,NetIncomeLossIncludingPortionAttributableToNon...,0001104659-09-031513,NET EARNINGS,0

In [42]:
num[(num.adsh=='0000950123-09-008550')&(num.tag=='AmortizationOfIntangibleAssets')]

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
269,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20080331,1,USD,588000.0,NaN
270,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20090331,1,USD,1367000.0,NaN

In [41]:
pre[(pre.adsh=='0000950123-09-008550')&(pre.tag=='AmortizationOfIntangibleAssets')]

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
210,0000950123-09-008550,2,8,IS,0,X,AmortizationOfIntangibleAssets,us-gaap/2008,Amortization,0
211,0000950123-09-008550,7,8,CF,0,X,AmortizationOfIntangibleAssets,us-gaap/2008,Amortization,0

In [43]:
mrg[(mrg.adsh=='0000950123-09-008550')&(mrg.tag=='AmortizationOfIntangibleAssets')]

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote,report,line,stmt,inpth,rfile,plabel,negating
273,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20080331,1,USD,588000.0,NaN,2.0,8.0,IS,0.0,X,Amortization,0.0
274,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20080331,1,USD,588000.0,NaN,7.0,8.0,CF,0.0,X,Amortization,0.0
275,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20090331,1,USD,1367000.0,NaN,2.0,8.0,IS,0.0,X,Amortization,0.0
276,0000950123-09-008550,AmortizationOfIntangibleAssets,us-gaap/2008,NaN,20090331,1,USD,1367000.0,NaN,7.0,8.0,CF,0.0,X,Amortization,0.0

In [10]:
pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3178 entries, 0 to 3177
Data columns (total 10 columns):
adsh        3178 non-null object
report      3178 non-null int64
line        3178 non-null int64
stmt        3178 non-null object
inpth       3178 non-null int64
rfile       3178 non-null object
tag         3178 non-null object
version     3178 non-null object
plabel      3178 non-null object
negating    3178 non-null int64
dtypes: int64(4), object(6)
memory usage: 248.4+ KB

In [45]:
mrg=num.merge(pre, 'left',['adsh','tag','version'])
mrg[mrg.duplicated(['line','value','stmt'],keep=False)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530 entries, 55 to 5294
Data columns (total 16 columns):
adsh        530 non-null object
tag         530 non-null object
version     530 non-null object
coreg       0 non-null float64
ddate       530 non-null int64
qtrs        530 non-null int64
uom         530 non-null object
value       520 non-null float64
footnote    0 non-null object
report      345 non-null float64
line        345 non-null float64
stmt        345 non-null object
inpth       345 non-null float64
rfile       345 non-null object
plabel      345 non-null object
negating    345 non-null float64
dtypes: float64(6), int64(2), object(8)
memory usage: 70.4+ KB

In [12]:
num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4930 entries, 0 to 4929
Data columns (total 9 columns):
adsh        4930 non-null object
tag         4930 non-null object
version     4930 non-null object
coreg       0 non-null float64
ddate       4930 non-null int64
qtrs        4930 non-null int64
uom         4930 non-null object
value       4919 non-null float64
footnote    8 non-null object
dtypes: float64(2), int64(2), object(5)
memory usage: 346.7+ KB

In [13]:
5319-4930

389